-- CreateEnum
CREATE TYPE "AppointmentOrigin" AS ENUM ('reception', 'app', 'owner');

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "PaymentMethod" ADD VALUE 'cortesia';
ALTER TYPE "PaymentMethod" ADD VALUE 'convenio';
ALTER TYPE "PaymentMethod" ADD VALUE 'outros';

-- AlterTable
ALTER TABLE "appointments" ADD COLUMN     "createdVia" "AppointmentOrigin" NOT NULL DEFAULT 'reception';

-- AlterTable
ALTER TABLE "comandas" ADD COLUMN     "productDiscountInCents" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "serviceDiscountInCents" INTEGER NOT NULL DEFAULT 0;

-- CreateTable
CREATE TABLE "appointment_services" (
    "id" TEXT NOT NULL,
    "appointmentId" TEXT NOT NULL,
    "serviceId" TEXT NOT NULL,
    "priceInCents" INTEGER NOT NULL DEFAULT 0,
    "durationMin" INTEGER NOT NULL DEFAULT 30,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "appointment_services_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comanda_payments" (
    "id" TEXT NOT NULL,
    "comandaId" TEXT NOT NULL,
    "method" "PaymentMethod" NOT NULL,
    "valueInCents" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "comanda_payments_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "appointment_services" ADD CONSTRAINT "appointment_services_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES "appointments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "appointment_services" ADD CONSTRAINT "appointment_services_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "services"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comanda_payments" ADD CONSTRAINT "comanda_payments_comandaId_fkey" FOREIGN KEY ("comandaId") REFERENCES "comandas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

